#langs, .hidden {
	display:none;
}
#form_adhesion input[type="text"] {
	width: 100%;
}

button.picker__button--clear {
 display:none;
}
button.picker__button--close, button.picker__button--today {
 width: 49.9%;
}
.enveloppe:hover{
 text-decoration: none;
}
.enveloppe span{
 font-size:3rem;
 line-height: 0.5;
}
select {
	margin: 2px 0;
}
hr {
	color: #d6d6d6;
}
table {
	font-size:1em;
	border: 1px solid #d6d6d6;
}
caption {
	text-align: left;
	font-size: 13px;
	font-style: italic;
}
tr.line-0, tr.line-0 input, tr.new input {
	/* background: #E1E1E1; */
}

tr input {
	margin: .222rem 0;
/*	text-transform:capitalize; */
}
input, select, textarea {
	border: 1px solid #ddd;
	transition-duration: .2s;
}
input:focus, select:focus, textarea:focus {
	border: 1px solid #258fd6;
	transition-duration: .2s;
}
tr input.email,
tr input.clefs,
tr input.password {
/*	border: 1px solid transparent; */
/*	text-transform:none; lowercase */
}
tr.new {
	background: #E5F8D5;/* #D6E3B3 */
}
tr.adh {
	background: #F8F4D5;/* #F8F5D5 */
}
tr.adh.valid {
	background: #E8F8D5;
}
tr.adh input.ville, tr.new input.ville {
	width:130px;
}
table select {
	width:auto;
}
table select.activite, table select.activite_new {
	width:auto;
}

.autre{
	display:block;
}
.togglerlogin{
	outline:none;
	text-decoration:none;
	font-weight:bold;
}
#table-new td,.dataTable-table > thead > tr > th {
	vertical-align: top !important;
}
#listes{
	font-size: 90%;
}
#title {
	position:relative;
	margin:0;
	border-bottom: 1px solid #D6D6D6;
	padding:20px;
	font-size: 2em;
	/* fix pluxml <= 5.3.1 export tools inaccessible */
	min-width: 261px;
	max-width: 320px;
}
#tabs {
	position:absolute;
	bottom:0;
	/* right:0; */
}
#tabs a {
	font-size: 0.5em;
	border:1px solid #D6D6D6;
	border-bottom:none;
	padding:15px 10px 10px 10px;
	margin-bottom: -1px;
	z-index: 99999;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	display: inline-block;
	/* height:15px; */
	line-height:15px;
	background:#D3D3D3;
}
#tabs a:hover, #tabs a.current {
	background: aliceblue;
	border:1px solid #D6D6D6;
	border-bottom:none;
}
.edited{
	color: indianred;
	font-style: italic;
}
.onglet {/* #attente, #validees, #plus */
	border-left:1px solid #D6D6D6;
	border-right:1px solid #D6D6D6;
	border-bottom:1px solid #D6D6D6;
	padding:10px;
	background-color: aliceblue;
}
.stop {
	background-color: red;
}
.petit {
	font-size: 0.8em;
	margin-top: .2rem;
}
.petit img {
	width: 22px;
}
#export {
	width: 33.3%;
	z-index: 99999;
	font-size: 0.7em;
	padding-right: 1em;
	text-align: right;
	right: 0;
	float: right;
	/* position: absolute; /* pluxml.5.3.1 */
}
#export ul li{
	display: inline;
}
#export ul li a img{
	width:3.2rem;
	height:3.2rem;
}
/* The Dialog (background) */
.dialogue {
	/* Hidden by default */
	display: none;
	/* Stay in place */
	position: fixed;
	/* Sit on top */
	z-index: 9999;
	/* Location of the box */
	padding-top: 100px;
	left: 0;
	top: 0;
	/* Full width */
	width: 100%;
	/* Full height */
	height: 100%;
	/* Enable scroll if needed */
	overflow: auto;
	/* Fallback color */
	background-color: rgb(0, 0, 0);
	/* Black w/ opacity */
	background-color: rgba(0, 0, 0, 0.4);
}

/* Dialog Content */
.dialogue-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	min-width: 310px;
}
/* The Close Button */
.dialogue-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.dialogue-close:hover,
.dialogue-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 767px) {
	#export {
		width: 50%;
		padding-right: 3em;
		position: absolute;
		z-index: 1;
	}
	.action-bar h2 {
		font-size: unset !important;
	}
	.in-action-bar {
	/*	margin-top: 5rem; */
		z-index: 1;
		width: auto;
		float: left;
		display: inline-block;
	}
/* RESPONSIVE TABLE admin pluxml */
	tr, td, th {/*maybe all */
		border: 0;
	}
	#listes thead > tr > th,
	#listes tbody > tr > td {/*black transparent #d9d9d9*/
		line-height: 2.6 !important;
		border-bottom: 1px solid white;
	}
	#listes tbody > tr > td select {
		line-height: .5 !important;
	}
	#listes thead > tr:first-child,
	#listes thead > tr > th:nth-of-type(0n+2) {
		line-height: 1.5;/**/
	}
	.petit {
		float: right;
		position: sticky;
		text-align: right;
	}
	.title .petit {
		font-size: .7rem;
		margin-top: .8rem;
	}
	.adh-login {
		background: rgba(207, 207, 207, .702);
		border-radius: 3px;
		padding: 0.207rem;
	}
	.noadh{
		bottom:72%;
		bottom: calc(100% - 160px);
		margin: 80px 20px 80px 80px;
		position: sticky;
		min-width: 100px;
	}
	/* hide br for pw in thead (util in valid table) */
	#table0 .head-hide,
	#table-new .head-hide {
		display: none;
	}
	.autre {
		display: inline;
	}
	.top-head-new,
	.top-head-old{
		margin-right: 1rem;
	}
}
@media (max-width: 479px) {
	#export {
		width: 100%;
		margin-top: 2rem;
	}
	#export .adh-hide {
		display:none;
	}
	.in-action-bar {
		margin-top: 6.5rem;
	}
}
@media (min-width: 768px){
	.med-show,.lrg-show {display: initial;}/*Fix PluCss 1.3.0 */
	.med-4, .lrg-5{border-bottom: 1px dotted black;margin-top:0.5rem;}
	.med-8, .lrg-7{margin-bottom: 0 !important;margin-top: 1.1em;}
	#listes .in-action-bar{width:72%;max-width:432px;}/* fix : est au dessus des export tools (desk) */
}
