/*!
 *
 * Vanilla-DataTables
 * Copyright (c) 2015-2017 Karl Saunders (http://mobius.ovh)
 * Licensed under MIT (http://www.opensource.org/licenses/mit-license.php)
 *
 * Version: 1.6.14.mh
 *
 */

.dataTable-wrapper.no-header .dataTable-container {
	border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
	padding: 8px 10px;
}

.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child {
	float: left;
}

.dataTable-top > div:last-child,
.dataTable-bottom > div:last-child {
	float: right;
}

.dataTable-selector {
	padding: 6px;
}

.dataTable-input {
	padding: 6px 12px;
}

.dataTable-info {
	margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
	margin: 0;
	padding-left: 0;
}

.dataTable-pagination li {
	list-style: none;
	float: left;
}

.dataTable-pagination a {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
}

.dataTable-pagination a:hover {
	background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination .pager a {
	font-weight: bold;
}

/* TABLE */
.dataTable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
}

.dataTable-table > thead > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-table > tfoot > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
	vertical-align: bottom;
	text-align: left;
}

.dataTable-table th a {
	text-decoration: none;
	color: inherit;
}

.dataTable-sorter {
	display: inline-block;
	/* min-height: 100%;FF60 fix*/
	/* height: 100%; remove in FF60 more good */
	position: relative;
	width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: -6px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;
}

.dataTable-sorter::before {
	border-top: 4px solid #000;
	bottom: 2px;
}

.dataTable-sorter::after {
	border-bottom: 4px solid #000;
	border-top: 4px solid transparent;
	top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
	opacity: 0.7;
}

.dataTables-empty {
	text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
	clear: both;
	content: " ";
	display: table;
}
/* https://stackoverflow.com/a/44004100 ?????
.table thead tr:nth-child(1) th{
	position: sticky;
	top: 150px;
}
*/
/* Here goes this table becomes Responsive By AJ-TechSoul : 2019.03.04 & adapted
 * https://github.com/AJ-TechSoul/Vanilla-DataTables/commit/5cfeb422a00cea3ef48c5112235fe1218ca66340
 */
@media (max-width:767px) {
/* RESPONSIVE TABLE */
	table{
		display:grid;
		grid-template-columns:auto 2fr;
		justify-content:stretch;
		align-items:start;
		grid-gap:.7em;
	}
	table caption{
		display: none;
	}
	thead tr th{
		display:table-row-group;
		box-shadow: 0 1p 1px rgba(0, 0, 0, .7);
	}
	thead a {
		display: block;
		width: 100%;
	}
	tbody {
		display: grid; grid-auto-flow: column;
		overflow: hidden;
		overflow-x: auto;
	}
	tbody tr {
		border: 0;
		width: 100%;
		display:table-row-group;
		border-left: 1px solid #d6d6d6;
	}
	thead th {
		font-weight: 400;
/*		text-align: right!important; */
	}
	thead th, tbody td{
		height: auto;
		margin: .5rem 0;
		display: block;
		white-space: nowrap;
		font-size-adjust: inherit;
		width: 100% !important;
		min-height: 3.21rem;
	}
	tbody th{
		width: calc(100% - 10px)!important;
	}
	tbody td{
		width: calc(100% - 20px);
	}
	/* wrapper */
	.dataTable-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
	}
/*	 # items per page
	.dataTable-top .dataTable-dropdown select {
		background: rgba(0,0,0,.05);
		outline: none;
		color: rgba(0,0,0,.7);
		font-weight: 400;
	}
*/
	/* search */
	.dataTable-top .dataTable-search input {
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 3px;
	}
	.dataTable-bottom .dataTable-info {
		color: rgba(0, 0, 0, .5);
	}
	/* pagination */
	.dataTable-bottom .dataTable-pagination {
		width: 80vw;
		display: grid;
		overflow: hidden;
		overflow-x: auto;
		grid-auto-flow: column;
	}
	.dataTable-bottom .dataTable-pagination .pager a {
		background: rgba(0, 0, 200, .4);
	}
	.dataTable-bottom > div:last-child {
		float: unset;
	}
}